@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
.blog__image img{
    width: 100%;
}
@media(max-width: 1023px){
    .blog__image img{
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
    .blog__content {
        text-align: center;
    }
    .breadcrumb__blog{
        text-align: center;
        margin-left: -4em;
    }
    .banner-text__blog h1{
        background-color: #fff;
        color: black;
    }
}

/* @media(max-width: 992px){
    .banner-text h1{
        background-color: #fff;
        color: black;
    }
} */

*{
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body{
    margin: 0;
}

.container__blog{
    padding-bottom: 1.4em;    
}   

.breadcrumb-text__blog{
    margin-left: 4em;
    padding: 2em 0;
}

.breadcrumb-text__blog a {
    display: inline-block;
    font-size: 16px;
    color: #b2b2b2;
    margin-right: 28px;
    position: relative;
}

.breadcrumb-text__blog span{
    display: inline-block;
    color: #1B2F44;
    font-weight: 500;
}

.breadcrumb-text__blog a:after {
    position: absolute;
    right: -18px;
    top: 0px;
    content: "›";
    font-family: "FontAwesome";
    font-size: 16px;
    color: #b2b2b2;
}

.banner__blog{
    background-image: url("../img/blog/bannerall.png");
    background-size: cover;
    background-attachment: fixed;
    display: block;
    z-index: 0;
    position: relative;
    height: 14em;
}

.banner__blog::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: inline-block;
    background-color: black;
    opacity: 0.6;
}

.banner-text__blog{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #fff;    
}

.banner-text__blog h1{
    font-size: 2.4em;
    font-weight: 700;
    margin-top: 2.2em;
}
.a1__blog{
    padding-top: 1.8em;
    width: 100%;
    text-align: center;
    padding-bottom: 4em;
    height: 3.4em;
    margin-bottom: 1em;
}
.a1__blog a{
    color: #1b2f44;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.5em;
    margin-right: 1em;
    text-decoration: none;
}

.blog__row{
    border-bottom: 1px solid #adb5bd;
    margin-bottom: 1em;
}

.blog__content{
    margin-bottom: 2em;
}

.blog__content h3:hover{
    color: #17a2b8;
    transition: ease-in-out 250ms;
}

.blog__content h6, .date{
    font-size: 16px;
    font-weight: 500;
    color: #b2b2b2;
    text-transform: uppercase;
}

.blog__content a{
    text-decoration: none;
}

.blog__content h3{
    font-size: 30px;
    font-weight: 600;
    color: #232425;
    line-height: 1em;
}   

.blog__content p{
    font-size: 16px;
    font-weight: 300;
    color: #636363;
    line-height: 1em;
}

.container__blog ul li a{
    list-style-type: none;
    margin-right: 1em;
    border: 1px solid #1b2f44;
    float: left;
    display: table table-cell;
    vertical-align: center;
    text-align: center; 
    width: 28px;
    height: 28px;
    text-decoration: none;
    align-items: center;
    color: black;
}

.container__blog ul li{
    list-style-type: none;
}

.container__blog ul li .active a{
    background-color: #1b2f44;
}

.container__blog .blogbottom{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}