@media(max-width: 1023px){
    .blog-image img{
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
    .blog-content {
        text-align: center;
    }
}

*{
    box-sizing: border-box;
}

body{
    height: 2000px;
    margin: 0;
}


.banner{
    top: 25%;
    background-image: url("../img/blog/bannerall.png");
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    display: block;
    z-index: 0;
    position: absolute;
    height: 10em;
}

.banner-text{
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #fff;    
    width: 100%;
}

.banner-text h1{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 2em;
}
.a1{
    width: 100%;
    text-align: center;
    padding-top: 23em;
    padding-bottom: 4em;
    height: 3.4em;
    margin-bottom: 1em;
}
.a1 a{
    color: #1b2f44;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    margin-right: 1em;
    text-decoration: none;
}

.blog{
    border-bottom: 1px solid #adb5bd;
    margin-bottom: 1em;
}

.blog-content{
    margin-bottom: 0.5em;
}

.blog-content h3:hover{
    color: #17a2b8;
    transition: ease-in-out 250ms;
}

.blog-content h6, .date{
    font-size: 16px;
    font-weight: 500;
    color: #b2b2b2;
    text-transform: uppercase;
}

.blog-content a{
    text-decoration: none;
}

.blog-content h3{
    font-size: 30px;
    font-weight: 600;
    color: #232425;
    line-height: 1em;
}

.blog-content p{
    font-size: 16px;
    font-weight: 300;
    color: #636363;
    line-height: 1em;
}

ul li a{
    list-style-type: none;
    margin-right: 1em;
    border: 1px solid #1b2f44;
    float: left;
    display: table table-cell;
    vertical-align: center;
    text-align: center; 
    width: 28px;
    height: 28px;
    text-decoration: none;
    align-items: center;
    color: black;
}

ul li{
    list-style-type: none;
}

ul li .active a{
    background-color: #1b2f44;
}

.blogbottom{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}