body {
    margin: 0;
}

*{
    box-sizing: border-box;
}
#cart {
    margin: 50px 0;    
}

#cart h6{
    font-size: 1rem;
    margin: 0;
}

#cart h4{
    font-size: 1rem;
    margin: 0;
    padding-bottom: 3px;
}


#cart .border-bottom {
    border-bottom: 1px solid #ebebeb;
}


#cart  .pd-t-b-20 {
    padding: 20px 0;
}


#cart .center {
    flex: 1;
    align-items: center;
    text-align: center;
    display: grid;
    height: 100%;
}
#cart .cart-img img{
    width: 100%;
}

#cart .remove button{
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding: 0;
    font-size: 1rem;
    text-decoration: underline;
    color: #000;
    padding-top: 3px;
    opacity: 0.7;
}

#cart .remove button:hover {
    text-decoration: none;
    opacity: 1;
}

#cart  .cart-unit_price {
    top: 50%;
    bottom: 50%;
}

#cart .cart-content span{
    font-weight: normal;
    opacity: 0.6;   
    font-size: 1rem;

}

#cart span {
    font-weight: 500;
}

#cart .cart-input {
    text-align: center;
    padding-left: 18px;
    width: 72px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #4c4c4c;
    line-height: 42px;
    overflow: visible;
    outline: none;
}
#cart .cart-qty-content {
    border: 2px solid rgb(236, 236, 236);
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}
#cart .subtotal {
    margin: 30px 0 20px 0px;
    min-height: 81.6px;
    font-weight: 500;
}
#cart .subtotal span {
    opacity: 0.5;
    font-size: 15px;
}

 
#cart  .btn {
    width: 80%;
    height: 55px;
    background-color: #4C709B;
    border: none;
    color: #fff;
    font-size: 15px;
    display: block;
    margin:  0 auto;
}

#cart  .btn:hover {
    color: #4C709B;
    background-color: rgb(232, 232, 232);
}

#cart .sub-mg {
    /* padding-left: 30px; */
}
  
#cart  .wall {
    /* border-left: 1px solid #4C709B; */
    border-right: 1px solid #4C709B;
    width: 0;
    flex: 1;
    align-items: center;
    text-align: center;
    display: grid;
    height: 40%;
    margin: 0 auto;
    top: 20%;
    position: relative;
    opacity: 0.3;
}
#cart  .wall span {
    display: none;
}

@media (max-width:739px) {
    #cart {
        margin: 0 25px;
    }  

    /* #cart  .btn {
        width: 100%;   
    } */
}