
.flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center-jus {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
}

#header-top {
    background-color: #1b2f44;
    color: white;
    height: 50px;
    width: 100%;
}
#header-top-container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-top-left p {
    margin: 0;
}
.header-top-left p:nth-child(2) {
    margin-left: 40px;
}
.header-top-left p span {
    margin-right: 10px;
}

.header-top-right-icon {
    margin-right: 10px;
}
.header-top-right-icon a{
    color: white;
    text-decoration: none;
    padding: 0 8px;
}

.language-flag {
    width: 32px;
    height: auto;
    margin-right: 5px;
}

.header-language-item {
    cursor: pointer;
}
.header-language-item span:last-child {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 300;
}

.header-top-right-language{
    position: relative;
}
#list-language {
    position: absolute;
    bottom: -160px;
    width: 130px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    z-index: 5;
    transition: 0.5s;
    visibility: hidden;
}
#list-language .header-language-item {
    padding-left: 10px;
}
#list-language .header-language-item span {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

#header-bottom {
    background-color: white;
}
.header-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-bottom-container > nav {
    width: 100%;
}
.header-bottom-container > nav > ul {
    justify-content: center;
    padding: 16px 0;
    margin: 0;
}
.header-bottom-container > nav > ul li {
    list-style: none;
    margin: 0 10px;
}

.header-bottom-container > nav > ul li a{
    text-decoration: none;
    padding: 16px 30px 8px;
    position: relative;
    font-weight: 600;
    color: black;
}
.header-bottom-container > nav > ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #1b2f44;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header-bottom-container > nav > ul li.active a::after {
    transform: scaleX(0.7);
}
.header-bottom-container > nav > ul li:hover a::after{
    transform: scaleX(0.7);
}

#header-form-search {
    display: flex;
    align-items: center;
}
#header-form-search form{
    background-color: #f9f9f9;
    border: 1px solid #e5e3e3;
    flex: 1;
}
#header-form-search form select ,
#header-form-search form input{
    border: none;
    background-color: transparent;
    padding: 12px 0 12px 10px;
    outline: none;
}
#header-form-search form select {
    font-size: 16px;
    font-weight: 500;
}
.group-button-search button{
    padding: 12px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #525050;
    outline: none;
    cursor: pointer;
}
.button-reset {
    position: relative;
}
.group-button-search .button-reset::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #646363;
    transform: scaleY(0.5);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
#header-shop {
    display: flex;
    align-items: center;
}
#header-shop ul {
    display: flex;
    justify-content: flex-end;
}
#header-shop ul li {
    list-style: none;
    padding: 0 20px;
}
#header-shop a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.header-cart {
    position: relative;
}
.header-cart span {
    position: absolute;
    top: -2px;
    right: -7px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
/*=====Responsive=====*/
/*Mobile: width < 740px*/
@media only screen and (max-width: 740px){
    /*  Header  */
    #header-shop {
        display: none;
    }
    #header-midle-container {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
    }
    /*  Header End  */
}
/*Tablet: width >= 740px and width < 1024px*/
@media (min-width: 740px){
    /*  Header  */
    #header-top-container {
        margin: 0 20px;
    }
    .header-bottom-container {
        margin: 0 20px;
    }
    #header-midle {
        margin: 0 20px;
    }
    #header-shop ul li {
        padding:  0 10px;
     }
    #header-shop {
        display: none;
    }
    .header-midle-1 {
        display: flex;
    }
    /*  Header End  */
}
/* Fix PC low resolution */
@media (min-width: 1000px) and (max-width: 1199px){
    #header-top-container {
        margin: 0 20px;
    }
}
