
/*Banner*/
#banner {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.banner-slide {
    width: 100%;
}
.banner-slide-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
    background-image: linear-gradient(130deg, #e3e2e2,transparent);
}
.banner-slide span {
    text-transform: uppercase;
    color: #383838;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.banner-slide h2 {
    font-size: 70px;
    text-transform: uppercase;
    display: inline-block;
    width: 400px;
    margin: 0;
}
.banner-slide p {
    font-size: 16px;
    color: #383838;
    width: 400px;
}
.banner-slide a {
    background-color: #1B2F44;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 14px;
}


.swiper {
    width: 100%;
    height: 100%;
}
.swiper.swiper2 {
    margin-left: auto;
    margin-right: auto;
}
.swiper.swiper2 .swiper-wrapper .swiper-slide {
    height: calc((100% - 30px) / 2) !important;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    /*Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
}

/*Banner end*/

/*Slide cate*/
.title-cate-index {
    padding: 20px 0 0 50px;
}
.title-cate-index h2 {
    font-size: 36px;
}
#slide-category {
    width: 100%;
    height: 700px;
    padding: 0 50px 80px 50px;
    overflow: hidden;
}
.slide-cate {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.slide-cate img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.slide-cate .slide-cate-p {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 26px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, #868686,transparent);
}
.slide-cate-p p{
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.slide-cate:hover img{
    transform: scale(1.7);
}
/*Slide cate end*/

/*Blog-index*/
.blog-index-box-wrap {
    display: flex;
    flex-wrap: wrap;
}
.blog-index-item a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    margin-bottom: 30px;
}
.blog-index-item a img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.blog-index-item a span {
    font-size: 16px;
    text-transform: uppercase;
    color: #a2a1a1;
    padding-top: 15px;
    display: inline-block;
}
.blog-index-item a h3 {
    font-size: 24px;
    margin: 10px 0;
}
.blog-index-item a p {
    color: #636363;
}
.title-index {
    text-align: center;
}
.title-index h2 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 36px;
    border-bottom: black 5px solid;
    padding: 0 10px 15px 10px;
}
/*Blog-index end*/

/*insta*/
#insta {
    width: 100%;
    overflow: hidden;
}
#insta .insta-item{
    padding: 0;
    position: relative;
}
.insta-item img{
    width: 100%;
    height: 320px;
    display: block;
    object-fit: cover;
}
.insta-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.insta-hover a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.insta-hover a span {
    font-size: 40px;
}
.insta-hover a p {
    text-transform: uppercase;
    font-size: 18px;
}
.insta-item:hover .insta-hover {
    opacity: 1;
    visibility: visible;
}
/*insta end*/

/*second best*/
#second-best-pad {
    padding: 0 0 80px 0;
}
#second-best {
    width: 100%;
    height: 420px;
    background-color: white;
    padding: 0 50px;
    position: relative;
}
.second-best-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.second-best-item-hover {
    flex-grow: 1.5;
    height: 60%;
}
.second-best-item-hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.second-best-item-text {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: #1B2F44;
    background-color: white;
    padding: 0 10px;
    flex-grow: 1;
    position: relative;
    z-index: 5;
}
.second-best-item-text h4{
    overflow: hidden;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin: 0;
    padding: 10px 0;
    max-height: 46px;
}
.second-best-item-text strong {
    padding: 20px 0;
    font-size: 20px;
}
.second-best-item-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.second-best-item-bottom > div {
    background-color: #1B2F44;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
}

.buttonNextSecond,
.buttonPrevSecond {
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}
.buttonNextSecond:active,
.buttonPrevSecond:active {
    background-color: rgba(255,255,255,0.2);
}
.swiper.mySwiper3 {
    position: static;
}
.buttonNextSecond span,
.buttonPrevSecond span{
    color: #1B2F44;
    font-size: 20px;
}
.buttonNextSecond {
    right: 25px;
}
.buttonPrevSecond {
    left: 25px;
}

.second-best-item-hover {
    position: relative;
}
.product-heart-index {
    position: absolute;
    top: -30px;
    right: 10px;
    font-size: 26px;
    color: #1B2F44;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.product-cart-index {
    position: absolute;
    bottom: -70px;
    right: 0;
    left: 0;
    text-decoration: none;
    color: #1B2F44;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.product-cart-index span {
    padding: 16px 12px 12px 11px;
    background-color: #1B2F44;
    color: white;
}
.product-cart-index p {
    padding: 16px 12px 12px 11px;
    background-color: white;
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
}
.second-best-item:hover .second-best-item-hover .product-heart-index{
    top: 10px;
    visibility: visible;
    opacity: 1;
}
.second-best-item:hover .second-best-item-hover .product-cart-index{
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.product-new-tag {
    padding: 2px 5px;
    background-color: #1B2F44;
    color: white;
    font-size: 13px;
    position: absolute;
    top: 20px;
    left: 0;
}

#second-best .swiper.mySwiper3 .swiper-pagination{
    bottom: -30px;
}
/*second best end*/

/*protec*/
#protec {
    overflow: hidden;
    width: 100%;
    background-color: #f6f6f6;
}
.protect-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.protect-title h2 {
    font-size: 36px;
    padding-top: 20px;
}
.protec-item {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.protec-item img {
    height: 60px;
    width: 60px;
}
.protec-item h3 {
    font-size: 28px;
}
.protec-item p {
    font-size: 14px;
}
/*protec end*/

/*Brand*/
.title-brand-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
.title-brand-index h2 {
    font-size: 36px;
    margin: 0;
}

#brand-index {
    padding: 0 50px 30px 50px;
    height: 180px;
    position: relative;
}
.brand-index-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.brand-index-item img {
    display: block;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    border: 2px solid #1B2F44;
}

.swiper.mySwiper4 {
    position: static;
}
#second-best .swiper.mySwiper4 .swiper-pagination{
    bottom: -40px;
}
/*Brand end*/






/*=====Responsive=====*/
/*Mobile: width < 740px*/
@media only screen and (max-width: 740px){
    #slide-category {
        padding: 30px 20px;
        height: 500px;
    }
    #banner {
        height: 500px;
    }
    .banner-slide-container {
        padding-left: 55px;
        background-image: linear-gradient(180deg, rgba(233,233,233,0.3),rgba(233,233,233,0.8),rgba(233,233,233,0.3));
    }
    .banner-slide h2 {
        font-size: 50px;
    }

}
/*Tablet: width >= 740px and width < 1024px*/
@media (min-width: 740px) and (max-width: 1024px){
    #second-best {
        height: 380px;
        padding: 0 20px;
    }
    .second-best-item-text strong {
        padding: 10px 0;
    }
}
/*Tablet: width >= 740px */
@media (min-width: 740px) {
}

