@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}
/*Other*/
.flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center-jus {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Other end*/


/*Header*/
header {
    width: 100%;
    overflow: hidden;
}

#header-top {
    background-color: #1b2f44;
    color: white;
    height: 50px;
    width: 100%;
}
#header-top-container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-top-left p {
    margin: 0;
}
.header-top-left p:nth-child(2) {
    margin-left: 40px;
}
.header-top-left p span {
    margin-right: 10px;
}

.header-top-right-icon {
    margin-right: 10px;
}
.header-top-right-icon a{
    color: white;
    text-decoration: none;
    padding: 0 8px;
}

.language-flag {
    width: 32px;
    height: auto;
    margin-right: 5px;
}

.header-language-item {
    cursor: pointer;
}
.header-language-item span:last-child {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 300;
}

.header-top-right-language{
    position: relative;
}
#list-language {
    position: absolute;
    bottom: -160px;
    width: 130px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    z-index: 5;
    transition: 0.5s;
    visibility: hidden;
}
#list-language .header-language-item {
    padding-left: 10px;
}
#list-language .header-language-item span {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

#header-bottom {
    background-color: white;
}
.header-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-bottom-container > nav {
    width: 100%;
}
.header-bottom-container > nav > ul {
    justify-content: center;
    padding: 16px 0;
    margin: 0;
}
.header-bottom-container > nav > ul li {
    list-style: none;
    margin: 0 10px;
}

.header-bottom-container > nav > ul li a{
    text-decoration: none;
    padding: 16px 30px 8px;
    position: relative;
    color: #1B2F44;
}

 .navigation > ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #1b2f44;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

 .navigation  ul li.active a::after {
    transform: scaleX(0.7);
}

 .navigation  ul li:hover a::after{
    transform: scaleX(0.7);
}

#header-form-search {
    display: flex;
    align-items: center;
}
#header-form-search form{
    background-color: #f9f9f9;
    border: 1px solid #e5e3e3;
    flex: 1;
}
#header-form-search form select ,
#header-form-search form input{
    border: none;
    background-color: transparent;
    padding: 12px 0 12px 10px;
    outline: none;
}
#header-form-search form select {
    font-size: 16px;
    font-weight: 500;
}
.group-button-search > div {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.group-button-search button {
    padding: 12px 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #525050;
    outline: none;
    cursor: pointer;
}
.button-reset {
    position: relative;
}
.group-button-search .button-reset::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #646363;
    transform: scaleY(0.7);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
#header-shop {
    display: flex;
    align-items: center;
}
#header-shop ul {
    display: flex;
    justify-content: flex-end;
}
#header-shop ul li {
    list-style: none;
    padding: 0 20px;
}
#header-shop a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.header-cart {
    position: relative;
}
.header-cart span {
    position: absolute;
    top: -2px;
    right: -7px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#header-sticky {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 4px 10px rgb(0 0 0 / 12%);
    position: sticky;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 80px;
}
#header-sticky .header-sticky-container {

}
.header-sticky-container .header-sticky-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-sticky-container-img {

}
.header-sticky-container-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.header-sticky-container-nav ul li {
    list-style: none;
    text-align: center;
    padding: 0;
}
.header-sticky-container-nav nav ul li a {
    text-decoration: none;
    color: #1B2F44;
    position: relative;
    padding: 10px 25px;
}
.header-sticky-container-nav nav ul li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #1B2F44;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    transform: scaleX(0);
}
.header-sticky-container-nav nav ul li:hover a::after {
    transform: scaleX(0.7);
}
.header-sticky-container-nav nav ul li.active a::after {
    transform: scaleX(0.7);
}

.header-sticky-container-icon ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
}
.header-sticky-container-icon ul li {
    list-style: none;
}
.header-sticky-container-icon ul li a {
    color: #1B2F44;
    font-size: 20px;
    padding-left: 10px;
}

#bar-button {
    width: 100%;
    display: none;
}
#bar-button button {
    background-color: transparent;
    color: #b2b2b2;
    border: none;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
    display: inline-block;
}
#button-close-bar {
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
}
#bar-list {
    background-color: #fdf9f5;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 100;
}
#bar-list.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.bar-list-container {
    padding: 0 20px;
}
.bar-list-container ul {
    padding-left: 0;
}
.bar-list-container ul:first-child li {
    list-style: none;
    text-align: left;
    width: 220px;
    border-bottom: solid 1px #384c60;
    font-weight: 400;
}
.bar-list-container ul:first-child li a {
    display: block;
    text-decoration: none;
    padding: 15px 0 15px 15px;
    color: #1B2F44;
}
.bar-list-container ul:last-child {
    margin-top: 100px;
}
.bar-list-container ul:last-child li {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 220px;
    padding: 20px 0;
}
.bar-list-container ul:last-child li span {
    padding: 0 10px;
}
#overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#overlay.active {
    visibility: visible;
    opacity: 1;
}
    /*Header end*/

/*Footer*/
footer {
    background-color: #fcfcfc;
    padding: 30px 0;
}
.footer-item h4{
    color: #1B2F44;
    font-size: 18px;
}
.footer-item p {
    color: #1B2F44;
}
.form-footer input {
    padding: 15px 30px;
    border: 2px solid #1B2F44;
}
.form-footer button {
    padding: 15px 30px;
    background-color: #1B2F44;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    left: -5px;
}
.subFooter {
    background-color: #1B2F44;
    color: white;
}
/*Footer end*/
/*Button back top*/
#button-back-top {
    width: 50px;
    height: 50px;
    background-color: #1B2F44;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 20px;
    transition: 0.25s;
    visibility: hidden;
    z-index: 10;
}
#button-back-top.active {
    visibility: visible;
}
#button-back-top a{
    color: white;
    font-size: 26px;
    text-decoration: none;
    display: inline-block;
}
/*Button back top end*/


/*=====Responsive=====*/
/*Mobile: width < 740px*/
@media only screen and (max-width: 740px){
    /*  Header  */
    #header-shop {
        display: none;
    }
    #header-midle {
        margin: 0 auto;
    }
    #header-top ,
    .header-bottom-container nav{
        display: none;
    }
    #header-form-search {
        padding: 0 30px;
    }
    #header-midle-container .header-midle-1{
        display: flex;
        justify-content: center;
    }
    #bar-button {
        display: block;
    }
    /*  Header End  */
    /*  Footer  */
    footer {
        padding: 30px;
    }
    .subFooter {
        padding-bottom: 10px;
    }
    .subFooter > div > div{
        flex-direction: column;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
    }
    .footer-item-form {
        text-align: center;
    }
    .form-footer {
        display: flex;
        justify-content: center;
    }
    body .big-title h2 {
        background-color: white;
        color: #1B2F44;
        display: inline-block;
        padding: 10px 40px;
        font-size: 22px;
    }
    #product .product-container{
        padding: 0 30px;
    }
    .breakcump .breakcump-container {
        padding-left: 30px;
    }
    #header-sticky {
        display: none;
        padding: 0 20px;
    }
    /*  Footer end  */
}
/*Tablet: width >= 740px and width < 1024px*/
@media (min-width: 740px) and (max-width: 1024px){
    /*  Header  */
    #header-top-container {
        margin: 0 20px;
    }
    .header-bottom-container {
        margin: 0 20px;
    }
    #header-midle {
        margin: 0 auto;
    }
    #header-shop ul li {
        padding:  0 10px;
    }
    #header-shop {
        display: none;
    }
    #header-top ,
    .header-bottom-container nav{
        display: none;
    }
    #header-midle-container .header-midle-1{
        display: flex;
        justify-content: center;
    }
    #header-sticky {
        padding: 0 50px;
    }
    .header-sticky-container-nav nav ul li a {
        padding: 10px 10px;
    }
    #bar-button {
        display: block;
    }
    /*  Header End  */
}
/*Tablet: width >= 740px */
@media (min-width: 740px) {
/*  Footer  */
    .footer-item-form {
        text-align: center;
    }
    .form-footer {
        display: flex;
        justify-content: center;
    }
/*  Footer end */
}

@media (min-width: 740px) and (max-width: 992px) {
    #header-sticky {
        display: none;
    }
}



