@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
}



/*Footer*/
footer {
    background-color: #fcfcfc;
    padding: 30px 0;
}
.footer-item h4{
    color: #1B2F44;
    font-size: 18px;
}
.footer-item p {
    color: #1B2F44;
}
.form-footer input {
    padding: 15px 30px;
    border: 2px solid #1B2F44;
}
.form-footer button {
    padding: 15px 30px;
    background-color: #1B2F44;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    left: -5px;
}
.subFooter {
    background-color: #1B2F44;
    color: white;
}
/*Footer end*/


/*=====Responsive=====*/
/*Mobile: width < 740px*/
@media only screen and (max-width: 740px){
    footer {
        padding: 30px;
    }
    .subFooter {
        padding-bottom: 10px;
    }
    .subFooter > div > div{
        flex-direction: column;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
    }
    .footer-item-form {
        text-align: center;
    }
    .form-footer {
        display: flex;
        justify-content: center;
    }
    body .big-title h2 {
        background-color: white;
        color: #1B2F44;
        display: inline-block;
        padding: 10px 40px;
        font-size: 22px;
    }
    #product .product-container{
        padding: 0 30px;
    }
    .breakcump .breakcump-container {
        padding-left: 30px;
    }
}
/*Tablet: width >= 740px */
@media (min-width: 740px) {
    .footer-item-form {
        text-align: center;
    }
    .form-footer {
        display: flex;
        justify-content: center;
    }
}
