*{
    box-sizing: border-box;
}

h2 {
    font-size: 36px;
    margin: 0;
}

#banner {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    margin: 10px 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#banner.about-us {
    min-height: 230px;
    height:unset !important;
}

#banner .banner-text {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}

#banner h2 {
    color: #fff;
}

#banner:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #1b1e21;
    opacity: 0.7;
}

#brands {
    margin: 0 20px;   
}

#brands .brand-title {
    position: relative;
    margin: 0 8px;
}


#brands .brand-title img{
    height: 550px;
    width: 100%;
    object-fit: cover;
}

#brands .brand-title h2{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 0;    
}

#brands p{
    font-size: 18px;
    color: #636363;
    font-weight: 300;
    line-height: 24px;
    /* margin: 20px 0 0; */
}

#brands a{
    text-decoration: none;
}

#brands .mg-t-b-30{
    margin: 80px 0;    
}


#brands .f-d {
    flex-direction: row-reverse;
}
 
/* .swiper {
    left: 0;
    width: 100%;
    height: 100%;
} */

#brands .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#brands .btn-right,
#brands .btn-left {
    color: #fff;
    background-color: #1b1e21;
    font-size: 20px !important;
    width: 10px !important; 
    height: 10px !important;
    border-radius: 100%;
    content: none;
    padding: 25px !important;
    opacity: 0.7;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none !important;
}

#brands .btn-right:hover,
#brands .btn-left:hover {
    opacity: 1;
} 

/* 
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}  */

@media (max-width: 739px) {
    .swiper {
        margin: 0 40px;
    }
    #brands .brand-title img {
        display: none;
    }

    #brands .brand-title h2 {
        color: #000;
        position: relative;
        text-align: left;
        padding: 0;
    }

    #brands .brand-title span{
        display: block;
        width: 50px;
        height: 5px;
        background-color: #1b1e21;
    }

}
