<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thrifts Fashion Store</title>
    <LINK REL="SHORTCUT ICON" HREF="img/logo.png"/>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Swiperjs -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/set.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/register-login.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="./css/faqs.css">
    <link rel="stylesheet" href="./css/cart.css">
    <link rel="stylesheet" href="./css/blog.css">
    <link rel="stylesheet" href="./css/checkout.css">
    <link rel="stylesheet" href="./css/contactUs.css">
    <link rel="stylesheet" href="./css/blog.css">
    <link rel="stylesheet" href="./css/blog-details.css">
    <link rel="stylesheet" href="./css/about-us.css">
    <link rel="stylesheet" href="./css/product-detail.css">
    <link rel="stylesheet" href="./css/store.css">

    <!--  Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/fontawesome-pro-6.1.0-web/css/all.css">
    <script src="css/fontawesome-pro-6.1.0-web/js/all.js"></script>
</head>
<body ng-app="myStore" ng-controller="myHeader">
    <header id="header">
        <section id="bar-button">
            <button><i class="fa-solid fa-bars"></i></button>
        </section>
        <section id="overlay"></section>
        <section id="bar-list">
            <div id="button-close-bar"><i class="fa-solid fa-xmark"></i></div>
            <div class="bar-list-container">
                <ul>
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/products">Products</a></li>
                    <li><a href="#/brand">Brand</a></li>
                    <li><a href="#/about">About us</a></li>
                    <li><a href="#/FAQs">FAQs</a></li>
                    <li><a href="#/blog">Blogs</a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
                <ul>
                    <li>My account</li>
                    <li>
                        <span><i class="fa-solid fa-user"></i></span>
                        <span><i class="fa-regular fa-bag-shopping"></i></span>
                    </li>
                    <li>Follow us</li>
                    <li>
                        <span><i class="fa-brands fa-facebook-f"></i></span>
                        <span><i class="fa-brands fa-pinterest-p"></i></span>
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                    </li>
                </ul>
            </div>
        </section>
        <section id="header-top" class="flex-center">
            <div class="grid wide" id="header-top-container">
                <div class="flex-center-between">
                    <div class="flex header-top-left">
                        <p><span><i class="fa-solid fa-envelope"></i></span> contact@thriftfashionstore.com</p>
                        <p><span><i class="fa-solid fa-phone"></i></span> +1 (828) 324 7992</p>
                    </div>
                    <div class="header-top-right flex-center">
                        <div class="header-top-right-icon">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <div class="header-top-right-language">
                            <span class="header-language-item flex-center" id="language">
                                <img class="language-flag" src="img/index/usa-flag.png" alt="language">
                                <span>English</span>
                                <span><i class="fa-solid fa-angle-down"></i></span>
                            </span>
                            <div id="list-language">
                                <span class="header-language-item flex-center">
                                    <img class="language-flag" src="img/index/usa-flag.png" alt="language">
                                    <span>English</span>
                                </span>
                                <span class="header-language-item flex-center">
                                    <img class="language-flag" src="img/index/vietnam-flag.png" alt="language">
                                    <span>Viet Nam</span>
                                </span>
                                <span class="header-language-item flex-center">
                                    <img class="language-flag" src="img/index/germany-flag.png" alt="language">
                                    <span>German</span>
                                </span>
                                <span class="header-language-item flex-center">
                                    <img class="language-flag" src="img/index/korean-flag.png" alt="language">
                                    <span>Korean</span>
                                </span>
                                <span class="header-language-item flex-center">
                                    <img class="language-flag" src="img/index/china-flag.png" alt="language">
                                    <span>Chinese</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="header-bottom">
            <div class="header-bottom-container">
                <nav class="navigation">
                    <ul class="flex">
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/products">Products</a></li>
                        <li><a href="#/brand">Brand</a></li>
                        <li><a href="#/about">About us</a></li>
                        <li><a href="#/FAQs">FAQS</a></li>
                        <li><a href="#/blog">Blogs</a></li>
                        <li><a href="#/contacts">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="grid wide" id="header-midle">
                <div class="row" id="header-midle-container">
                    <div class="col l-2 m-12 c-12 header-midle-1">
                        <a href="#/home"><img src="img/logo.png" alt="logo"></a>
                    </div>
                    <div class="col l-7 m-12 c-12" id="header-form-search">
                        <form  class="flex-center" ng-submit="filterProducts()" >
                            <select ng-model="categories" name="" class="col l-3 m-3 c-4">
                                <option value="">All Categories</option>
                                <option value="{{category.name}}" ng-repeat="category in categorys">{{category.name}}</option>
                            </select>
                            <input type="text" placeholder="Search for products, brand, categories..." class="col l-7 m-7 c-5" ng-model="search">
                            <div class="group-button-search col l-2 m-2 c-3" >
                                <div class="flex">
                                    <div class="button-reset col l-6 m-6 c-6" ng-click="resetValue()"><i class="fa-solid fa-xmark"></i></div>
                                    <button class="button-search col l-6 m-6 c-6"><i class="fa-regular fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col l-3 m-3 c-0" id="header-shop">
                        <ul class="col l-12 m-12">
                            <li> <a href=""><i class="fa-solid fa-bell"></i></a></li>
                            <li> <a href="#/login"><i class="fa-solid fa-user"></i></a></li>
                            <li>
                                <a href="#/cart" class="header-cart">
                                    <i class="fa-regular fa-bag-shopping"></i>
                                    <span class="countCart">{{countCart}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section id="header-sticky">
    <div class="header-sticky-container grid">
        <div class="row header-sticky-flex">
            <div class="col l-2 m-2 header-sticky-container-img">
                <a href=""><img src="img/logo.png" alt="logo"></a>
            </div>
            <div class="col l-8 m-8 header-sticky-container-nav">
                <nav>
                    <ul>
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/products">Products</a></li>
                        <li><a href="#/brand">Brand</a></li>
                        <li><a href="#/about">About us</a></li>
                        <li><a href="#/FAQs">FAQS</a></li>
                        <li><a href="#/blog">Blogs</a></li>
                        <li><a href="#/contacts">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col l-2 m-2 header-sticky-container-icon">
                <ul>
                    <li class="col l-3 m-3"> <a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li class="col l-3 m-3"> <a href=""><i class="fa-solid fa-bell"></i></a></li>
                    <li class="col l-3 m-3"> <a href="#/login"><i class="fa-solid fa-user"></i></a></li>
                    <li class="col l-3 m-3">
                        <a href="#/cart" class="header-cart">
                            <i class="fa-regular fa-bag-shopping"></i>
                            <span class="countCart">{{countCart}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </section>
    


    <div ng-view></div>








    <section id="protec" class="ng-scope">
        <div class="grid wide">
            <div class="protect-title">
                <h2>All Thrills, Zero Guilt</h2>
            </div>
            <div class="row">
                <div class="protec-item col l-4 m-4">
                    <div class="flex-center-jus">
                        <img src="img/index/returns.png" alt="protec">
                    </div>
                    <h3>Easy Returns</h3>
                    <p>Thrift without the risk. Enjoy hassle-free returns with your order.</p>
                </div>
                <div class="protec-item col l-4 m-4">
                    <div class="flex-center-jus">
                        <img src="img/index/dress.png" alt="protec">
                    </div>
                    <h3>Quality Finds</h3>
                    <p>Each item undergoes a 12-point inspection to meet our high quality standards.</p>
                </div>
                <div class="protec-item col l-4 m-4">
                    <div class="flex-center-jus">
                        <img src="img/index/sustainability.png" alt="protec">
                    </div>
                    <h3>Shop Sustainably</h3>
                    <p>Choosing a used item over new reduces your carbon footprint by 82%!</p>
                </div>
            </div>
        </div>
    </section>
<!--Footer-->
    <footer>
    <section class="grid wide">
        <div class="row">
            <div class="col l-4 m-6 c-12 footer-item">
                <div class="footer-logo">
                    <a href=""><img src="img/logo.png" alt="logo" ></a>
                </div>
                <p>8th Ton That Thuyet, HaNoi, VietNam</p>
                <p>Phone: +1 (828) 324-7992</p>
                <p>Email: contact@thriftfashionstore.com</p>
            </div>
            <div class="col l-2 m-3 c-6 footer-item">
                <h4>Information</h4>
                <p><a href="">About us</a></p>
                <p><a href="">Brands</a></p>
                <p><a href="">Contact</a></p>
                <p><a href="">Help & FAQs</a></p>
            </div>
            <div class="col l-2 m-3 c-6 footer-item">
                <h4>My Account</h4>
                <p><a href="">Log in</a></p>
                <p><a href="">Register</a></p>
                <p><a href="">Shopping Cart</a></p>
                <p><a href="">Shop</a></p>
            </div>
            <div class="col l-4 m-12 c-12 footer-item">
                <div class="footer-item-form">
                    <h4>Join Our Newsletter for $50 off</h4>
                    <p>Get E-mail updates about our latest shop and special offers</p>
                    <form action="" class="form-footer">
                        <input type="text" placeholder="Enter your email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</footer>
    <section class="subFooter">
        <div class="grid wide ">
            <div class="flex-center-between">
                <p>Copyright © 2022. All rights reserved by Thrift Fashion</p>
                <div class="geolocation"></div>
            </div>
        </div>
</section>
    <section id="button-back-top">
        <a href="#header"><i class="fa-solid fa-arrow-up-to-line"></i></a>
    </section>
<!--Footer end-->
    <!-- myStore -->
    <script src="./js/app.js"></script>
    <!-- Controllers -->
    <script src="./js/controllers/HomeController.js"></script>
    <script src="./js/controllers/BlogController.js"></script>
    <script src="./js/controllers/CartController.js"></script>
    <script src="./js/controllers/HeaderController.js"></script>
    <script src="./js/controllers/DetailsController.js"></script>
    <script src="./js/controllers/BrandsController.js"></script>
    <!-- Services -->
    <script src="./js/services/products.js"></script>
    <script src="./js/services/categories.js"></script>
    <script src="./js/services/blog.js"></script>
    <!-- Directives -->
    <script src="./js/directives/item-product.js"></script>
    <script src="./js/directives/item-cart.js"></script>
    <script src="./js/directives/item-checkout.js"></script>
    <script src="./js/directives/item-blog.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Swiper JS -->
    <script src="./js/main.js"></script>
    <script src="./js/page.js"></script>


    <script>
        let geolocation = document.querySelector('.geolocation')
        let p = document.createElement('p')
        let getTime = function(){
            let time = new Date()
            return `${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`
        }
        setInterval(getLocation,1000)
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                p.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            p.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude+"<br>" + "Time : "+getTime();
       
            geolocation.append(p)
        }
    </script>

</body>
</html>