<div id="about-us" class="mg-b-t-80">
    <div class="grid wide">
        <div class="row  pd-l-r-30">
            <div class="col l-6 m-6 c-12">
                <h2>Our History</h2>
                <span class="underline"></span>
                <div class="about-text">
                    <p>Our story begins with a problem (the best ideas usually do). About ten years ago, our founder, then she was a student, saving money on clothes was essential. So she started to have ideas about shopping, reusing used fashion items.</p>
                    <p>In 2015, our founder came to Vietnam and she was very surprised by the second-hand shops here. They have high to very high sales volume, almost always crowded with customers, especially on weekends. Then, when she came back, she started a chain of stores selling used fashion according to the model seen in Vietnam.</p>
                    <p>In 2022, after 3 years of the Covid-19 epidemic, it became more difficult to buy used fashion because stores were forced to close their business to ensure the prevention of the epidemic. Thus, Thrift Fashion Store - an online shopping store for used fashion items was born</p>
                </div>
            </div>
            <div class="col l-6 m-6 c-12">
                <div class="about-pd-l">
                    <img src="img/shirt15.webp" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="about-center mg-b-t-80 pd-l-r-30">
        <div class="grid wide">
            <div class="row  pd-l-r-30">
                <div class="col l-12 m-12 c-12">
                    <h2>Our Vision</h2>
                    <span class="underline"></span>
                    <div class="about-text">
                        <p>We look forward to expanding worldwide. In the future, we plan to donate a portion of our total production and money to charity each year to disadvantaged areas such as countries in Africa where children are not yet born. have enough clothes or 1 pair of shoes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="row  pd-l-r-30">
            <div class="col l-12 m-12 c-12 ">
                <h2 class="quote">"When it comes to your hand, we believe you can have it all: great design and quality, at an affordable price"</h2>
            </div>
        </div>
    </div> 
    <div class="grid wide">
        <div class="row mg-b-t-80 pd-l-r-30  f-d">
            <div class="col l-6 m-6 c-12">
                <div class="about-pd-r">
                    <img src="img/hatComment3.jpg" alt="">
                </div>
            </div>
            <div class="col l-6 m-6 c-12">
                <h2>Our Approach</h2>
                <span class="underline"></span>
                <div class="about-text">
                    <p>We’re taking positive steps to reduce our impact on the planet. For us, that means retailing responsibly. We’ve set a number of goals to get us there.</p>
                    <p>Our commitment to great design has extended into making better business choices that minimise our impact on people and the planet. For 2021, we’re focusing on four key areas where we can really make a difference. This is just the start of our journey, so keep checking back for updates.</p>
                    <p>Things like: eliminating all unnecessary plastic from our product packaging, and ensuring that the most environmentally impactful materials we use are 100% sustainably sourced.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="row mg-b-t-80 pd-l-r-30">
            <div class="col l-6 m-6 c-12">
                <h2>Our Community</h2>
                <span class="underline"></span>
                <div class="about-text">
                    <p>People are at the heart of what we do, and we’re proud to have created a community as passionate about design as we are. From reviews on our product pages to our 1.2 million Instagram fans, nothing makes us happier than seeing real people sharing our products in their homes.</p>
                </div>
            </div>
            <div class="col l-6 m-6 c-12">
                <div class="about-pd-l">
                    <img src="img/community.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
