<div class="container__blog">
    <section class="breakcump">
        <div class="breakcump-container grid wide">
            <p>Home</p>
            <span><i class="fa-regular fa-angle-right"></i></span>
            <p class="breakcump-active">Blog</p>
        </div>
    </section>
        <div class="banner__blog">
            <div class="banner-text__blog">
                <h1>Out Blog</h1>
            </div>
        </div>
        <div class = "container__blog">
            <div class="grid wide">
                <item-blog item="blog" ng-repeat="blog in dataBlog"></item-blog>
            </div>
        </div>
    </div>