<div id="cart">
    <div class="grid wide">
        <div class="row border-bottom">
            <div class="col l-5 m-5 c-3 pd-t-b-20">
                <h6>Product</h6>
            </div>
            <div class="col l-2 m-2 c-2 pd-t-b-20 center">
                <h6>Quantity</h6>
            </div>
            <div class="col l-1 m-1 c-3 pd-t-b-20 center">
                <h6>Unit Price</h6>
            </div>
            <div class="col l-2 m-2 c-1 pd-t-b-20 center">
                <h6>Unit discount</h6>
            </div>
            <div class="col l-2 m-2 c-3 pd-t-b-20 center">
                <h6>Total</h6>
            </div>
        </div>
        <item-cart item="data" ng-repeat="data in dataMyCart"></item-cart>

        <div class="row">
            <div class="col l-5 m-5 c-5">
                <div class="sub-mg">
                    <div class="subtotal">
                        <div class="row">
                            <div class="col l-9 m-9 c-9">
                                <h6>Shipping fee</h6>
                                <span>Free shipping for orders above $200.00</span>
                            </div>
                            <div class="col l-3 m-3 c-3">
                                <h6>$0.00</h6>
                            </div>
                        </div>
                    </div>
                    <button class="btn">BACK TO SHOPPING</button>
                </div>
            </div>
            <div class="col l-2 m-2 c-2">
                <div class="wall"><span>|</span></div>
            </div>
            <div class="col l-5 m-5 c-5">
                <div class="sub-mg">
                    <div class="subtotal">
                        <div class="row">
                            <div class="col l-9 m-9 c-7">
                                <h6>Number of items</h6>
                                <h6>Discount</h6>
                                <h6>Subtotal</h6>
                            </div>
                            <div class="col l-3 m-3 c-5">
                                <h6>{{countItem}}</h6>
                                <h6>$0</h6>
                                <h6>{{total | currency}}</h6>
                            </div>
                        </div>
                    </div>
                    <a href="#/checkout" class="btn">CHECK OUT</a>
                </div>
            </div>
        </div>

    
    </div>
</div>