<header id="header">
    <section id="bar-button">
        <button><i class="fa-solid fa-bars"></i></button>
    </section>
    <section id="overlay"></section>
    <section id="bar-list">
        <div id="button-close-bar"><i class="fa-solid fa-xmark"></i></div>
        <div class="bar-list-container">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/products">Products</a></li>
                <li><a href="">Store</a></li>
                <li><a href="#/about">About us</a></li>
                <li><a href="#/FAQs">FAQs</a></li>
                <li><a href="#/blog">Blogs</a></li>
            </ul>
            <ul>
                <li>My account</li>
                <li>
                    <span><i class="fa-solid fa-user"></i></span>
                    <span><i class="fa-regular fa-heart"></i></span>
                    <span><i class="fa-regular fa-bag-shopping"></i></span>
                </li>
                <li>Follow us</li>
                <li>
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-pinterest-p"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-twitter"></i></span>
                </li>
            </ul>
        </div>
    </section>
    <section id="header-top" class="flex-center">
        <div class="grid wide" id="header-top-container">
            <div class="flex-center-between">
                <div class="flex header-top-left">
                    <p><span><i class="fa-solid fa-envelope"></i></span> contact@thriftfashionstore.com</p>
                    <p><span><i class="fa-solid fa-phone"></i></span> +1 (828) 324 7992</p>
                </div>
                <div class="header-top-right flex-center">
                    <div class="header-top-right-icon">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="header-top-right-language">
                        <span class="header-language-item flex-center" id="language">
                            <img class="language-flag" src="img/index/usa-flag.png" alt="language">
                            <span>English</span>
                            <span><i class="fa-solid fa-angle-down"></i></span>
                        </span>
                        <div id="list-language">
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/usa-flag.png" alt="language">
                                <span>English</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/vietnam-flag.png" alt="language">
                                <span>Viet Nam</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/germany-flag.png" alt="language">
                                <span>German</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/korean-flag.png" alt="language">
                                <span>Korean</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/china-flag.png" alt="language">
                                <span>Chinese</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="header-bottom">
        <div class="header-bottom-container">
            <nav class="navigation">
                <ul class="flex">
                    <li class="active"><a href="#/home">Home</a></li>
                    <li><a href="#/products">Products</a></li>
                    <li><a href="">Store</a></li>
                    <li><a href="#/about">About us</a></li>
                    <li><a href="#/FAQs">FAQS</a></li>
                    <li><a href="#/blog">Blogs</a></li>
                    <li><a href="#/contacts">Contact us</a></li>
                </ul>
            </nav>
        </div>
        <div class="grid wide" id="header-midle">
            <div class="row" id="header-midle-container">
                <div class="col l-2 m-12 c-12 header-midle-1">
                    <a href="#/home"><img src="img/logo.png" alt="logo"></a>
                </div>
                <div class="col l-7 m-12 c-12" id="header-form-search">
                    <form  class="flex-center" ng-submit="filterProducts()" >
                        <select ng-model="categories" name="" class="col l-3 m-3 c-4">
                            <option value="">All Categories</option>
                            <option value="{{category.name}}" ng-repeat="category in categorys">{{category.name}}</option>
                        </select>
                        <input type="text" placeholder="Search for products..." class="col l-7 m-7 c-5" ng-model="search">
                        <div class="group-button-search col l-2 m-2 c-3" >
                            <div class="flex">
                                <div class="button-reset col l-6 m-6 c-6" ng-click="resetValue()"><i class="fa-solid fa-xmark"></i></div>
                                <button class="button-search col l-6 m-6 c-6"><i class="fa-regular fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col l-3 m-3 c-0" id="header-shop">
                    <ul class="col l-12 m-12">
                        <li> <a href="#/login"><i class="fa-solid fa-user"></i></a></li>
                        <li><a href="#/wishlist"><i class="fa-regular fa-heart"></i></a></li>
                        <li>
                            <a href="#/cart" class="header-cart">
                                <i class="fa-regular fa-bag-shopping"></i>
                                <span>{{countCart}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
<section id="header-sticky">
<div class="header-sticky-container grid">
    <div class="row header-sticky-flex">
        <div class="col l-2 m-2 header-sticky-container-img">
            <a href=""><img src="img/logo.png" alt="logo"></a>
        </div>
        <div class="col l-8 m-8 header-sticky-container-nav">
            <nav>
                <ul>
                    <li class="active"><a href="#/home">Home</a></li>
                    <li><a href="#/products">Products</a></li>
                    <li><a href="">Store</a></li>
                    <li><a href="#/about">About us</a></li>
                    <li><a href="#/FAQs">FAQS</a></li>
                    <li><a href="#/blog">Blogs</a></li>
                    <li><a href="#/contacts">Contact us</a></li>
                </ul>
            </nav>
        </div>
        <div class="col l-2 m-2 header-sticky-container-icon">
            <ul>
                <li class="col l-3 m-3"> <a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="col l-3 m-3"> <a href="#/login"><i class="fa-solid fa-user"></i></a></li>
                <li class="col l-3 m-3"><a href="#/wishlist"><i class="fa-regular fa-heart"></i></a></li>
                <li class="col l-3 m-3">
                    <a href="#/cart" class="header-cart">
                        <i class="fa-regular fa-bag-shopping"></i>
                        <span>{{countCart}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>

<div id="cart">
    <div class="grid wide">
        <div class="row border-bottom">
            <div class="col l-5 m-5 c-3 pd-t-b-20">
                <h6>Product</h6>
            </div>
            <div class="col l-2 m-2 c-2 pd-t-b-20 center">
                <h6>Quantity</h6>
            </div>
            <div class="col l-1 m-1 c-3 pd-t-b-20 center">
                <h6>Unit Price</h6>
            </div>
            <div class="col l-2 m-2 c-1 pd-t-b-20 center">
                <h6>Unit discount</h6>
            </div>
            <div class="col l-2 m-2 c-3 pd-t-b-20 center">
                <h6>Total</h6>
            </div>
        </div>
        <item-cart item="data" ng-repeat="data in dataMyCart"></item-cart>

        <div class="row">
            <div class="col l-5 m-5 c-5">
                <div class="sub-mg">
                    <div class="subtotal">
                        <div class="row">
                            <div class="col l-9 m-9 c-9">
                                <h6>Shipping fee</h6>
                                <span>Free shipping for orders above $200.00</span>
                            </div>
                            <div class="col l-3 m-3 c-3">
                                <h6>$0.00</h6>
                            </div>
                        </div>
                    </div>
                    <a href="#/products" class="btn">BACK TO SHOPPING</a>
                </div>
            </div>
            <div class="col l-2 m-2 c-2">
                <div class="wall"><span>|</span></div>
            </div>
            <div class="col l-5 m-5 c-5">
                <div class="sub-mg">
                    <div class="subtotal">
                        <div class="row">
                            <div class="col l-9 m-9 c-7">
                                <h6>Number of items</h6>
                                <h6>Discount</h6>
                                <h6>Subtotal</h6>
                            </div>
                            <div class="col l-3 m-3 c-5">
                                <h6>{{countItem}}</h6>
                                <h6>$0</h6>
                                <h6>{{total | currency}}</h6>
                            </div>
                        </div>
                    </div>
                    <a href="#/checkout" class="btn">CHECK OUT</a>
                </div>
            </div>
        </div>

    
    </div>
</div>