<header id="header">
    <section id="bar-button">
        <button><i class="fa-solid fa-bars"></i></button>
    </section>
    <section id="overlay"></section>
    <section id="bar-list">
        <div id="button-close-bar"><i class="fa-solid fa-xmark"></i></div>
        <div class="bar-list-container">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/products">Products</a></li>
                <li><a href="">Store</a></li>
                <li><a href="#/about">About us</a></li>
                <li><a href="#/FAQs">FAQs</a></li>
                <li><a href="#/blog">Blogs</a></li>
            </ul>
            <ul>
                <li>My account</li>
                <li>
                    <span><i class="fa-solid fa-user"></i></span>
                    <span><i class="fa-regular fa-heart"></i></span>
                    <span><i class="fa-regular fa-bag-shopping"></i></span>
                </li>
                <li>Follow us</li>
                <li>
                    <span><i class="fa-brands fa-facebook-f"></i></span>
                    <span><i class="fa-brands fa-pinterest-p"></i></span>
                    <span><i class="fa-brands fa-instagram"></i></span>
                    <span><i class="fa-brands fa-twitter"></i></span>
                </li>
            </ul>
        </div>
    </section>
    <section id="header-top" class="flex-center">
        <div class="grid wide" id="header-top-container">
            <div class="flex-center-between">
                <div class="flex header-top-left">
                    <p><span><i class="fa-solid fa-envelope"></i></span> contact@thriftfashionstore.com</p>
                    <p><span><i class="fa-solid fa-phone"></i></span> +1 (828) 324 7992</p>
                </div>
                <div class="header-top-right flex-center">
                    <div class="header-top-right-icon">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="header-top-right-language">
                        <span class="header-language-item flex-center" id="language">
                            <img class="language-flag" src="img/index/usa-flag.png" alt="language">
                            <span>English</span>
                            <span><i class="fa-solid fa-angle-down"></i></span>
                        </span>
                        <div id="list-language">
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/usa-flag.png" alt="language">
                                <span>English</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/vietnam-flag.png" alt="language">
                                <span>Viet Nam</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/germany-flag.png" alt="language">
                                <span>German</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/korean-flag.png" alt="language">
                                <span>Korean</span>
                            </span>
                            <span class="header-language-item flex-center">
                                <img class="language-flag" src="img/index/china-flag.png" alt="language">
                                <span>Chinese</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="header-bottom">
        <div class="header-bottom-container">
            <nav class="navigation">
                <ul class="flex">
                    <li class="active"><a href="#/home">Home</a></li>
                    <li><a href="#/products">Products</a></li>
                    <li><a href="">Store</a></li>
                    <li><a href="#/about">About us</a></li>
                    <li><a href="#/FAQs">FAQS</a></li>
                    <li><a href="#/blog">Blogs</a></li>
                    <li><a href="#/contacts">Contact us</a></li>
                </ul>
            </nav>
        </div>
        <div class="grid wide" id="header-midle">
            <div class="row" id="header-midle-container">
                <div class="col l-2 m-12 c-12 header-midle-1">
                    <a href="#/home"><img src="img/logo.png" alt="logo"></a>
                </div>
                <div class="col l-7 m-12 c-12" id="header-form-search">
                    <form  class="flex-center" ng-submit="filterProducts()" >
                        <select ng-model="categories" name="" class="col l-3 m-3 c-4">
                            <option value="">All Categories</option>
                            <option value="{{category.name}}" ng-repeat="category in categorys">{{category.name}}</option>
                        </select>
                        <input type="text" placeholder="Search for products..." class="col l-7 m-7 c-5" ng-model="search">
                        <div class="group-button-search col l-2 m-2 c-3" >
                            <div class="flex">
                                <div class="button-reset col l-6 m-6 c-6" ng-click="resetValue()"><i class="fa-solid fa-xmark"></i></div>
                                <button class="button-search col l-6 m-6 c-6"><i class="fa-regular fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col l-3 m-3 c-0" id="header-shop">
                    <ul class="col l-12 m-12">
                        <li> <a href="#/login"><i class="fa-solid fa-user"></i></a></li>
                        <li><a href="#/wishlist"><i class="fa-regular fa-heart"></i></a></li>
                        <li>
                            <a href="#/cart" class="header-cart">
                                <i class="fa-regular fa-bag-shopping"></i>
                                <span>{{countCart}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
<section id="header-sticky">
<div class="header-sticky-container grid">
    <div class="row header-sticky-flex">
        <div class="col l-2 m-2 header-sticky-container-img">
            <a href=""><img src="img/logo.png" alt="logo"></a>
        </div>
        <div class="col l-8 m-8 header-sticky-container-nav">
            <nav>
                <ul>
                    <li class="active"><a href="#/home">Home</a></li>
                    <li><a href="#/products">Products</a></li>
                    <li><a href="">Store</a></li>
                    <li><a href="#/about">About us</a></li>
                    <li><a href="#/FAQs">FAQS</a></li>
                    <li><a href="#/blog">Blogs</a></li>
                    <li><a href="#/contacts">Contact us</a></li>
                </ul>
            </nav>
        </div>
        <div class="col l-2 m-2 header-sticky-container-icon">
            <ul>
                <li class="col l-3 m-3"> <a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="col l-3 m-3"> <a href="#/login"><i class="fa-solid fa-user"></i></a></li>
                <li class="col l-3 m-3"><a href="#/wishlist"><i class="fa-regular fa-heart"></i></a></li>
                <li class="col l-3 m-3">
                    <a href="#/cart" class="header-cart">
                        <i class="fa-regular fa-bag-shopping"></i>
                        <span>{{countCart}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>

<div id="banner" style="background-image: url(img/banner-contact.jpg)">
    <div class="banner-text">
        <h2>Contact</h2>
    </div>
</div>

<div id="contact-us">
    <div class="main">
        <div class="grid wide">
            <div class="row">
                <div class="col l-4 m-12 c-12">
                    <div class="contact-widget">
                        <div class="cw-item p24">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>12 23rd Street SE, Hickory, NC</p>
                        </div>
                        <div class="cw-item p24">
                            <i class="fa-solid fa-envelope"></i>
                            <p>contact@richfieldchairs.com</p>
                        </div>
                        <div class="cw-item p24">
                            <i class="fa-solid fa-phone"></i>
                            <p>+1 (828) 324-7992</p>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col l-8 m-12 c-12">
                    <div class="contact-content-form">
                        <form action=""  method="POST" class="form" id="form-1">
                            <div class="row">
                                <div class="col l-6 m-12 c-12">
                                    <div class="form-group contact-form-input">
                                        <input id="first-name" name="first-name" type="text" placeholder="First Name" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col l-6 m-12 c-12">
                                    <div class="form-group contact-form-input">
                                        <input id="last-name" name="last-name" type="text" placeholder="Last Name" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col l-6 m-12 c-12">
                                    <div class="form-group contact-form-input">
                                        <input id="phone" name="phone" type="tel" placeholder="Phone number" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col l-6 m-12 c-12">
                                    <div class="form-group contact-form-input">
                                        <input id="phone" name="phone" type="tel" placeholder="Phone number" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                </div>
                                <div class="col l-12 m-12 c-12">
                                    <div class="form-group contact-form-input">
                                        <input  style="padding-top: 0 !important;" id="title" name="title" type="tel" placeholder="Title" class="form-control">
                                    </div>
                                </div>
                                <div class="col l-12 m-12 c-12">
                                    <textarea name="text" id="" cols="98" rows="6" placeholder="Message"></textarea>
                                    <button class="contact-btn form-submit" type="submit">Submit</button>
                                </div>                                    
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col l-12 m-12 c-12">
                    <div class="contactUs-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d931.0243399153137!2d105.78179244454334!3d21.02879005623361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab86cece9ac1%3A0xa9bc04e04602dd85!2zRlBUIEFwdGVjaCBIw6AgTuG7mWkgLSBI4buHIFRo4buRbmcgxJDDoG8gVOG6oW8gTOG6rXAgVHLDrG5oIFZpw6puIFF14buRYyBU4bq_IChTaW5jZSAxOTk5KQ!5e0!3m2!1svi!2s!4v1643013928624!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/validate.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
        form: '#form-1',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#first-name', 'Please enter first name'),
            Validator.isRequired('#last-name', 'Please enter last name'),
            Validator.isPhone('#phone'),
            Validator.isEmail('#email'),
            Validator.isRequired('#city', 'Please enter city'),
            Validator.isRequired('#district', 'Please enter district'),
            Validator.isRequired('#detail-address', 'Please enter details address'),
            Validator.minLength('#card-number', 10),
            Validator.isRequired('#name-in-card', 'Please enter name in card'),
            Validator.isDate('#mm-yy'),
            Validator.isCcv('#ccv'),
            Validator.isRequired('#password_confirmation'),
            Validator.isConfirmed('#password_confirmation', function () {
            return document.querySelector('#form-1 #password').value;
            }, '')
        ],
        onSubmit: function (data) {
            // Call API
            console.log(data);
        }
        });


        Validator({
        form: '#form-2',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isEmail('#email'),
            Validator.minLength('#password', 6),
        ],
        onSubmit: function (data) {
            // Call API
            console.log(data);
        }
        });
    });

</script>