<!--Banner-->
    <section id="banner-index">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <div class="banner-slide" style="background: url('img/index/banner1.png'); background-size: cover;background-position: center">
                        <div class="banner-slide-container">
                            <span>trendy collection</span>
                            <h2>Trendy old fashion</h2>
                            <p> The outfits are old but bring us new colors just like new ones</p>
                            <div>
                                <a href="#/products">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner-slide"  style="background: url('img/index/banner2.png'); background-size: cover;background-position: center">
                        <div class="banner-slide-container">
                            <span>woman's collection</span>
                            <h2>Like a princess</h2>
                            <p>We will make you much more beautiful for a small cost</p>
                            <div>
                                <a href="#/products">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner-slide"  style="background: url('img/index/banner3.png'); background-size: cover;background-position: center">
                        <div class="banner-slide-container">
                            <span>curated collection</span>
                            <h2>Like Boys Under</h2>
                            <p>The one-stop destination for buying, selling and exploring fashion.</p>
                            <div>
                                <a href="#/products">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next" style="color: black"></div>
            <div class="swiper-button-prev" style="color: black"></div>
        </div>
    </section>
<!--Banner end-->

<!--Slide category-->
    <div class="title-cate-index">
        <h2>Category</h2>
    </div>
    <section id="slide-category">
        <div class="swiper mySwiper2 swiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="swiper in dataCategories">
                    <a href="#/products" class="slide-cate">
                        <img src="img/{{swiper.img}}" alt="slide-cate">
                        <div class="slide-cate-p">
                            <p>{{swiper.name}}</p>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
<!--Slide category end-->

<!--Brand-->
    <div class="title-brand-index">
        <h2>Popular Designers</h2>
    </div>
    <section id="brand-index">
        <div class="swiper mySwiper4">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/Logo-Nike.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/KapitalLogo.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/LVLogo.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/RickOwensLogo.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/CarharttLogo.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/11_MaisonMargiela_Logo.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/LVLogo.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/Logo-Nike.webp" alt="brand">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-index-item">
                        <img src="img/index/LVLogo.webp" alt="brand">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--Brand end-->

<!--second best-->
    <section id="second-best-pad">
        <div class="title-cate-index">
            <h2>Old but new products</h2>
        </div>
        <section id="second-best">
            <div class="swiper mySwiper3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="product in products">
                        <div class="second-best-item">
                            <div class="second-best-item-hover">
                                <img ng-src="img/{{product.image[0]}}" alt="products">
                                <a class="product-cart-index" href="">
                                    <p>+ Quick View</p>
                                </a>
                            </div>
                            <a class="second-best-item-text" href="">
                                <h4>{{product.name}}</h4>
                                <strong>{{product.price | currency}}</strong>
                                <div class="second-best-item-bottom">
                                    <div>{{product.brand}}</div>
                                    <div>New {{product.degree}}%</div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
                <div class="buttonNextSecond"><span><i class="fa-solid fa-chevron-right"></i></span></div>
                <div class="buttonPrevSecond"><span><i class="fa-solid fa-chevron-left"></i></span></div>
            </div>
        </section>
    </section>
<!--second best end-->

<!--intas-->
    <section id="insta">
        <div class="grid">
            <div class="row">
                <div class="insta-item col l-3 m-6 c-12">
                    <img src="img/index/insta3.png" alt="inta">
                    <div class="insta-hover">
                        <a href="">
                            <span><i class="fa-brands fa-instagram"></i></span>
                            <p>Colection</p>
                        </a>
                    </div>
                </div>
                <div class="insta-item col l-3 m-6 c-12">
                    <img src="img/index/insta1.png" alt="inta">
                    <div class="insta-hover">
                        <a href="">
                            <span><i class="fa-brands fa-instagram"></i></span>
                            <p>Colection</p>
                        </a>
                    </div>
                </div>
                <div class="insta-item col l-3 m-6 c-12">
                    <img src="img/index/insta2.png" alt="inta">
                    <div class="insta-hover">
                        <a href="">
                            <span><i class="fa-brands fa-instagram"></i></span>
                            <p>Colection</p>
                        </a>
                    </div>
                </div>
                <div class="insta-item col l-3 m-6 c-12">
                    <img src="img/index/insta4.png" alt="inta">
                    <div class="insta-hover">
                        <a href="">
                            <span><i class="fa-brands fa-instagram"></i></span>
                            <p>Colection</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--intas end-->

<!--Blog-->
    <section id="blog-index">
        <div class="blog-index-container">
            <div class="title-index">
                <h2>Latest Blog</h2>
            </div>
            <div class="blog-index-box">
                <div class="grid wide">
                    <div class="blog-index-box-wrap">
                        <div class="blog-index-item col l-4 m-6 c-12" ng-repeat="blog in blogs">
                            <a ng-href="#/blog/{{blog.id}}" >
                                <img ng-src="img/{{blog.thumbnail}}" alt="blog-index">
                                <span>{{blog.author}}</span>
                                <h3>{{blog.title}}</h3>
                                <p>{{blog.description}}</p>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--Blog end-->


