
<section class="login-register">
    <div class="grid wide">
        <div class="row">
            <div class="col l-4 m-0 m-0 img" >
                <div style="background-image: url('../img/register-login.jpg');height: 100%;"></div>
            </div>
            <div class="col l-4 m-12 c-12 login-box">
                <h3>Sign in</h3>
                <form action="" class="ng-pristine ng-valid">                    
                    <div class="input-text">
                        <div class="input-box">
                            <input type="text" placeholder="Email" id="email">
                        </div>
                        <!-- <div id="errorEmail" style="margin-top: 5px; font-size: 0.9rem; color: crimson">This field is required</div> -->
                    </div>
                    <div class="input-text">
                        <div class="input-box">
                            <input type="text" placeholder="Password" id="password">
                        </div>
                        <!-- <div id="errorEmail" style="margin-top: 5px; font-size: 0.9rem; color: crimson">This field is required</div> -->
                    </div>
                    <div class="input-checkbox">
                        <div id="input3">
                            <input type="checkbox" id="agree">&nbsp;&nbsp;&nbsp;<a style="text-decoration: none">Keep me signed in</a>
                        </div>
                    </div>
                    <div class="btn-login">
                        <button>Log in</button>
                    </div>
                </form>
                <div class="more-login">
                    <span></span>
                    <p>OR</p>
                    <span></span>
                </div>

                <div class="connection">
                    <a href="" class="item-connection">
                        <img src="../img/svg/fb.svg" alt="">
                        <span>Facebook</span>
                    </a>     
                    <a href="" class="item-connection">
                        <img src="../img/svg/ig.svg" alt="">
                        <span>Instagram</span>
                    </a>   
                    <a href="" class="item-connection">
                        <img src="../img/svg/gg.svg" alt="">
                        <span>Google</span>
                    </a>   
                    <a href="" class="item-connection">
                        <img src="../img/svg/apple.svg" alt="">
                        <span>apple</span>
                    </a>                
                </div>
  
            </div>

            <div class="col l-4 m-12 c-12 register-box">
                <h3>Register</h3>
                <div class="input-box register">
                    <p>It's easy to create an account.</p>
                    <p>Register to enjoy faster check out, get updated on exclusive offers and promotions and our latest events.</p>
                    <a class="register-link" href="#/register">REGISTER</a>
                </div>
            </div>
        </div>
    </div>
</section>
              
