<section class="breakcump">
    <div class="breakcump-container grid wide">
        <p>Home</p>
        <span><i class="fa-regular fa-angle-right"></i></span>
        <p class="breakcump-active">Product</p>
    </div>
</section>

<div id="banner" style="background-image: url(../img/index/insta3.png)">
    <div id="banner-text">
        <h2>Products</h2>
    </div>
</div>

<section id="product">
    <div class="product-container grid wide">
        <div class="row">
            <div class="col l-3 category">
                <div class="cate-item">
                    <h3>Categories</h3>
                    <ul>
                        <li ng-repeat="category in categorys" ng-click="category.filter()"><a>{{category.name}}</a></li>
                    </ul>
                </div>            
            </div>
            <div class="col l-9">
                <div class="row product-list">
                    <p ng-show="noProduct">Search product not found!</p>
                    <div ng-repeat="product in dataProducts" class="product-list-item col l-4">
                        <item-product item="product"></item-product>
                    </div>
                </div>
                <div class="product-page" ng-show="dataPage">
                    <a href="" ng-repeat="page in pages" page="{{page.num}}">{{page.num+1}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
