<div id="thank">
        <div class="thank">
            <div class="grid">
                <div class="row">
                    <div class="col l-12 m-12 c-12">
                        <div class="thank-container">
                            <div class="img">
                                <img src="img/success.gif"alt="">
                            </div>
                            <div class="thank-text thank-title">
                                <h2>Thank you for your order !</h2>
                                <span>Your order has been confirmed and will be shipping soon.</span>
                            </div>
                            <div  class="thank-text">
                                <span>We will send you shipping confirmation when your item(s) are on the way! We appreciate your time shopping at Thrift Fashion Store, and hope you enjoy your purchase.</span>
                                <h4>Thank you !</h4>
                                <span>From Thrift Fashion Store</span>
                                <div class="btn-product">
                                    <a href="#home">PLACE A NEW ORDER</a>
                                </div>
                            </div>
                            
                            <div class="logo">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
